@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");
* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body{
    background-color: #ececec;
}

a {
    text-decoration: none;
}

h2{
    color: #0A2342;
}

.logo-text {
  width: 400px;
}

/* navbar */

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
    position: fixed;
    top: 1em;
    width: 100%;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 1 50%;
}

.nav-logo-icon {
    height: 40px;
    margin-right: 1em;
}

.navbar a {
    margin: 1em 0;
    padding: 10px;
    color: #0A2342;
    float: right;
    font-weight: 600;
}

.navbar a:hover {
    color: #82886d;
}

.navbar a:last-child {
    border: 1px solid #82886d;
}

/* header */

.header-main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    height: 100vh;
}

.header-left-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* flex: 0 1 50%; */
    /* background-color:#ececec; */
    height: 100vh;
}

.header-image {
    width: 100%;
}

.header-right-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* flex: 0 1 50%;
    height: 100%;  */
    position: fixed;
    color: #ececec;
    
}

.header-right-container h2{
    color: #ececec;
}

.header-right-container h1{
    color: #ececec;
    font-size: 2.8em;
}
/* login */

.login-main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    height: 100vh;
}

.login-left-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0 1 50%;
    background-color: #0A2342;
    height: 100%;
}

.login-right-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0 1 50%;
    background-color: #ececec;
    height: 100%;
}

.login-right-inner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    margin: 1em;
    padding: 10px;
    border-radius: 2px;
    height: 100%;
}

.login-form input {
    padding: 10px;
    margin: 5px;
    border: 1px solid rgb(226, 223, 223);
}

.login-form label {
    padding: 8px 0;
    margin-left: 5px;
}

.login-form button {
    background-color: #82886D;
    color: white;
    margin: 8px 5px;
    border-radius: 2px;
    padding: 10px;
}

.signup-link {
    font-weight: 600;
    color: #0A2342;
}

/* register */

.register-main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    height: 100vh;
}

.register-left-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0 1 50%;
    background-color: #0A2342;
    height: 100%;
}

.register-right-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0 1 50%;
    background-color: #ececec;
    height: 100%;
}

.register-right-inner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    margin: 1em;
    padding: 10px;
    border-radius: 2px;
    height: 100%;
}

.register-form input {
    padding: 10px;
    margin: 5px;
    border: 1px solid rgb(226, 223, 223);
}

.register-form label {
    padding: 8px 0;
    margin-left: 5px;
}

.register-form button {
    background-color: #82886D;
    color: white;
    margin: 8px 5px;
    border-radius: 2px;
    padding: 10px;
}

/* routines */

.single-routine-main-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-items: center;
    height: 100vh;
    width: 80%;
    margin-top: 3em;
}

.single-routine-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    height: 300px;
    text-align: center;
    margin: .5em;
    padding: 25px;
}

.single-routine-card a{
   color: #ee6352;
   font-weight: 600;
}

.single-routine-username{
text-decoration: underline;
}

.single-ra-main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ececec;
}

.routines-main-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   align-items: center;
    justify-content: center;
    margin-top: 3rem;
}

.routine-activity-link button {
    background-color: black;
    color: white;
    margin: 8px 5px;
    border-radius: 2px;
    padding: 10px;
}

/* create routine */

.create-routine-main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: fixed;
}

.create-routine-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    margin: 1em;
    padding: 10px;
    border-radius: 2px;
    /* background-color: #82886D; */
   
}

.create-routine-form input {
    padding: 10px;
    margin: 5px;
    border-bottom: 1px solid lightgrey;
    background-color: #ececec;
    color: #0A2342;
    font-weight: 600;
}

.create-routine-form textarea {
    padding: 10px;
    margin: 5px;
    border-bottom: 1px solid lightgrey;
    background-color: #ececec;
    color: #0A2342;
    font-weight: 600;
}

.create-routine-form button {
    background-color: #82886D;
    color: white;
    margin: 5px;
    border-radius: 2px;
    padding: 10px;
    font-size: 15px;
}

.routine-checkbox {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 5px;
}

/* various buttons */
.edit-delete{
    margin: 1em;
}

.material-icons {
    font-family: 'Material Icons';
    color: #0A2342;
    padding: 10px;
    font-size: 28px;
  }